@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f6fa;
    font-family: 'Lato', sans-serif;
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    height: calc(100vh - 10px);
    /* calc() is used to communicate between diff. units*/
    transition: all 1.1s linear;
}

.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    justify-content: space-between;
}

.app__header>h1 {
    font-size: 2rem;
}

/* Cursor */

.app__header__text--type::after {
    content: '';
    border: 0.1px solid;
    animation: blink 1s infinite;
    transition: all 0.1s linear;
}

@keyframes blink {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.3;
    }
}

@media(max-width: 500px) {
    .app__header>h1 {
        font-size: 1.25rem;
    }
}